* {
    -fx-font-family: "Arial";
    -fx-font-size: 21px;
}

#body {
    -fx-background-image: url('background.png');
    -fx-background-size: 500px;
    -fx-background-position: center;
}

Button {
    -fx-background-color: #090a0c,
    linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
    linear-gradient(rgb(26, 57, 109), #191d22),
    radial-gradient(center 50% 0%, radius 100%, rgba(23, 176, 230, 0.9), rgba(26, 100, 179, 0.2));
    -fx-background-radius: 5px;
    -fx-border: 0;
    -fx-background-insets: 0, 1, 2, 0;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 4, 0.0, 0, 1);
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-padding: 4px 6px 6px 4px;
    -fx-pref-height: 40px;
}

Button:hover {
    -fx-background-color: #090a0c,
    linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
    linear-gradient(rgb(26, 57, 109), #191d22),
    radial-gradient(center 50% 0%, radius 100%, rgba(23, 176, 230, 0.9), rgba(26, 100, 179, 0.5));
    -fx-text-fill: linear-gradient(rgb(250, 236, 72) 60%, white);
}

Button:pressed {
    -fx-background-color: #090a0c,
    linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
    linear-gradient(rgb(26, 57, 109), #191d22),
    radial-gradient(center 50% 0%, radius 100%, rgba(23, 176, 230, 0.9), rgba(26, 100, 179, 0.7));
    -fx-text-fill: linear-gradient(rgb(250, 236, 72), white);
}

TextField {
    -fx-pref-height: 40px;
    -fx-border: 0;
    -fx-background-color: radial-gradient(center 50% 0%, radius 100%, white, rgb(240, 240, 240));
}

TextField:focused {
}
