Text {
    -fx-font-family: 'Caslon Antique Bold Italic';
    -fx-font-size: 26px;
    -fx-fill: linear-gradient(#191d22 10%, #0d0d0d);
}

.dark Text {
    -fx-fill: linear-gradient(#e6e2dd 10%, #f2f2f2);
}
